{% assign post_author = site.authors[page.author] %}
{% assign author_name = post_author.display_name | default: page.author | default: site.author %}
{% assign author_description = post_author.description | default: site.app_description %}
<div class="author-box" itemscope itemtype="https://schema.org/Person">
    <div class="author-box-avatar" aria-hidden="true">
        <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="8" r="4"/><path d="M4 20c0-4 3.6-7 8-7s8 3 8 7"/></svg>
    </div>
    <div class="author-box-content">
        <div class="author-box-meta">
            <span class="author-box-label">Written by</span>
            <a class="author-box-name" href="{{ '/author/' | relative_url }}" itemprop="url">
                <span itemprop="name">{{ author_name }}</span>
            </a>
        </div>
        <p class="author-box-bio" itemprop="description">{{ author_description }}</p>
        <div class="author-box-links">
            <a href="{{ '/author/' | relative_url }}" class="author-box-link">Author Profile</a>
            {% if post_author and post_author.scholar %}
            <a href="{{ post_author.scholar }}" class="author-box-link author-box-link--scholar" target="_blank" rel="noopener noreferrer">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M4 19.5A2.5 2.5 0 0 1 6.5 17H20"/><path d="M6.5 2H20v20H6.5A2.5 2.5 0 0 1 4 19.5v-15A2.5 2.5 0 0 1 6.5 2z"/></svg>
                Google Scholar
            </a>
            {% endif %}
        </div>
    </div>
</div>
